<br />
<%= form_for :userlink, html: {:class => "well"} do |f| %>
            <%= f.text_field :url, placeholder: "http://", class: "input-block-level"  %>
            <div class="starthidden">
                <%= f.text_field :name, value: "Loading", class: "input-block-level"%>
                <%= f.text_area :summary, placeholder: "Summary", class: "input-block-level", rows: "5" %>
                <%= f.text_field :tag_list, placeholder: "tags", class: "input-block-level"%>
                <%= f.submit class: "btn", value: "Save"%>
            </div>
<% end %>
<% @userlinks.each do |userlink| %>
    


<% end %>

<table width=100%>


    <% @userlinks.each do |userlink| %>
        <tr>
            <td><%= userlink.shorturl %></td>
            <td><%= link_to userlink.name, userlink.url %> <%= raw userlink.tag_list.map {|t| link_to t, tag_path(t) }.join(',') %></td>
            <td><%= userlink.summary %></td>
            <td><%= link_to 'Show', userlink %></td>
            <td><%= link_to 'Edit', edit_userlink_path(userlink) %></td>
            <td><%= link_to 'Destroy', userlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<%= will_paginate @userlinks %>

<br />

<%= link_to 'New Userlink', new_userlink_path %>
