<br />
<%= form_for :userlink, html: {:class => "well"} do |f| %>
        <div class="controls controls-row">
                <%= f.text_field :url, placeholder: "http://", class: "span9"  %>
                <%= f.submit class: "btn span2", value: "Save"%>
        </div>
        <div style="display:none">
            <%= f.text_field :name, value: "Loading" =%>
            <%= f.text_area :summary %>
            <%= f.text_field :tag_list %>
        </div>
<% end %>
<% @userlinks.each do |userlink| %>
    


<% end %>

<table width=100%>


    <% @userlinks.each do |userlink| %>
        <tr>
            <td><%= userlink.shorturl %></td>
            <td><%= link_to userlink.name, userlink.url %> <%= raw userlink.tag_list.map {|t| link_to t, tag_path(t) }.join(',') %></td>
            <td><%= userlink.summary %></td>
            <td><%= link_to 'Show', userlink %></td>
            <td><%= link_to 'Edit', edit_userlink_path(userlink) %></td>
            <td><%= link_to 'Destroy', userlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

<%= will_paginate @userlinks %>

<br />

<%= link_to 'New Userlink', new_userlink_path %>
