<br />
<%= form_for :userlink, html: {:class => "well"} do |f| %>
            <%= f.text_field :url, placeholder: "http://", class: "input-block-level"  %>
            <div class="starthidden">
                <%= f.text_field :name, value: "Loading", class: "input-block-level"%>
                <%= f.text_area :summary, placeholder: "Summary", class: "input-block-level", rows: "5" %>
                <%= f.text_field :tag_list, placeholder: "tags", class: "input-block-level"%>
                <%= f.submit class: "btn", value: "Save"%>
            </div>
<% end %>
<% @userlinks.each do |userlink| %>
    


<% end %>
<div>
    <% @userlinks.each do |userlink| %>
        <div>
            <div>
                <%= link_to userlink.name, "/" + userlink.shorturl, class: "mainlinks" %> 
                <% userlink.tag_list.each do |tag|%>
                    <a class="label" href="?tag=<%=tag%>"><%=tag%></a>
                <% end %>
            </div>
            <div>
                <ul class="inline muted" style="margin-left:-5px">
                    <li><%= userlink.created_at.to_date.to_formatted_s(:long)    %></li>
                    <li><%= geturl(userlink.url) %></li>
                    <li>
                    </li>
                    <!--
                <td><%= link_to 'Show', userlink %></td>
                <td><%= link_to 'Edit', edit_userlink_path(userlink) %></td>
                <td><%= link_to 'Destroy', userlink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                -->
            </ul>
        </div>
    </div>

    <% end %>
</div>
<div class="text-center">
    <%= will_paginate @userlinks, renderer: BootstrapPagination::Rails %>
</div>
<!-- load up the spinner from the title-fetch site-->
<!-- this just warms up the title-fetch app because heroku puts it to sleep --> 
<div class="hidden">
    <img src="http://title-fetch.robscanlon.com/spinner.gif">
</div> 
